<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite" preserve-order="true" parallel="classes" thread-count="1">
<listeners>
<!-- <listener class-name="com.test.automation.uiAutomation.customListener.Listener"></listener> -->
<listener class-name="com.test.automation.uiAutomation.customListener.RetryListener"></listener>
</listeners>
<test name="HomePageTest">
<classes>
<class name="com.test.automation.uiAutomation.homepage.TC001_VerifyLoginWithInvalidCredentials"></class>
<!-- <class name="com.test.automation.uiAutomation.homepage.TC002_VerifyLoginWithValidCredentials"></class> -->
</classes>

</test>

</suite>